scripts/slurm/outputs/*
examples/data/360_v2/*
examples/results/*
**/__pycache__/*

*.nfs*
.venv/
gsplat/csrc.so
*.nsys-rep

*.nsys-rep
*.qdstrm
*.sqlite
*.egg-info
core.*

*nsys_stats_summary*

splat/.nfs*
gsplat/csrc.so

build/
cuda_12.1.0_530.30.02_linux.run

*.nsys-rep
*/.nfs00000000024ff9e20000019a
gsplat/csrc.so

